.note {
  display: inline;
  position: relative;
  border-bottom: 1px dotted #0000FF
}

.note:hover:after {
  background: #333;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  bottom: 26px;
  white-space: pre-wrap;
  color: #fff;
  content: attr(msg);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width:500px;
  display:block;
  word-wrap: normal;
}

.note:hover:before{
  border:solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  display:block;
  z-index: 99;
}
